#fancymenu {
    position: relative;
    height: 29px;
    width: 421px;
    background-color: orange;
    padding: 15px;
    margin: 10px 0;
    overflow: hidden;
}

#fancymenu ul {
    padding: 0;
    margin: 0;
}

/* Don't apply padding here (offsetWidth will differ in IE)
If you need padding add it to the child anchor */
#fancymenu ul li {
    float: left;
    list-style: none;
}

#fancymenu ul li a {
    text-indent: -500em;
    z-index: 10;
    display: block;
    float: left;
    height: 30px;
    position: relative;
    overflow: hidden;
}


#menu_home a {
    width: 59px;
    background-color: blue;
}

#menu_plantatree a {
    width: 119px;
    background: lawngreen;
}

#menu_travel a {
    width: 70px;
    background-color: crimson;
}

#menu_rideanelephant a {
    width: 142px;
    background-color: indigo;
}