body {

    font-family: "Oswald", Arial, Helvetica Neue, Helvetica, sans-serif;
    font-weight: 300;
    background-color: #f9f9f9;
}

.galeria {
    position: relative;
    height: 500px;
}

.galeria div {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    display: none;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/* 1szy slajd widoczny zeby JS wiedzial co ma animowac */
.galeria div:first-child {
    display: block;
}

.galeria p {
    color: #ffffff;
    /*text-transform: uppercase;*/
    font-family: "Oswald", Arial, Helvetica Neue, Helvetica, sans-serif;
    font-weight: 400;
    text-shadow: black 2px 4px 0;
    font-size: 23px;
    text-align: right;
    margin-top: 468px;
    margin-right: 90px;
    font-style: italic;
}

#logo2 {
    opacity: 0.65;
    position: absolute;
    left: 80px;
    top: 60px;
    width: 210px;
    height: 330px;
    z-index: 100;
    box-shadow: black 4px 0 5px;
}

.motto {
    color: #ffffff;
    text-transform: uppercase;
    font-family: "Oswald", Arial, Helvetica Neue, Helvetica, sans-serif;
    font-weight: 700;
    position: absolute;
    left: 330px;
    bottom: 60px;
    text-shadow: black 2px 4px 0;
    font-size: 70px;
    z-index: 101;
}

.motto__gdansk, .motto__miasto {
    display: block;
}

.motto__miasto {
    font-size: 50px;
    margin-top: 15px;
    margin-left: 80px;
}

/*MENU*/

.menu_gl {
    top: 0px;
    width: 30%;
    right: 0px;
    position: fixed;
    padding-top: 10px;
    background-color: #000000;
    font-family: "Oswald", Arial, Helvetica Neue, Helvetica, sans-serif;
    font-weight: 700;
    color: #ffffff;
    text-align: center;
    z-index: 102;
    border: white 2px solid;
    opacity: 0.8;
    padding-bottom: 12px;
    /*dashed wprowadza element lekkiej wioseczki - a co stać Nas :D */
}

.menu_div {
    display: inline;
    width: 130px;
    font-size: 25px;
}

.menu_div_header {
    padding: 5px 35px 5px 5px;
}

.menu_div_contact {
    padding: 5px 5px 5px 35px;
}

/* MENU Hover*/

.brown_sugar:link {
    color: white;
    text-decoration: none;
}

.brown_sugar:visited {
    color: white;
}

.brown_sugar:hover {
    color: #E2AB2D;
}

/*ASIDE SOCIAL MEDIA*/
.social-media {
    width: 40px;
    position: fixed;
    right: 0;
    top: 50vh;
}

.social-media__link {
    position: absolute;
    right: 0;
}

.social-media__link--fb {
    top: -63px;
}

.social-media__link--gp {
    top: -20px;
}

.social-media__link--tw {
    top: 23px;
}

.social-media__link img {
    width: 40px;
}

.social-media__link:hover {
    width: 50px;
}

/* Zacheta */

.zacheta {
    text-transform: uppercase;
    text-align: justify;
    font-family: "Oswald", Arial, Helvetica Neue, Helvetica, sans-serif;
    font-weight: 300;
    font-size: 28px;
    color: #000000;
    margin: 3% 15% 3% 15%;
}

.zacheta p {
    margin: 0.5em 0;
}

.zacheta p:first-of-type {
    font-weight: 400;
}

.nasz-header {
    position: relative;
}

/* FUNKCJONALNOŚCI */

#film {

    position: absolute; /* video in full screen*/
    top: 0px;
    left: -200px; /* left powinno byc 0*/
    min-width: 100%;
    /*min-height: 30%;*/
    z-index: -1; /* video is under all of the elements */

}

.fade:hover {
    opacity: 1;
}

/* FEATURES */
.features {
    padding: 30px 0;
    background: url(../images/Vogel-brama-1.jpg) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
}

.row {
    overflow: hidden;
    max-width: 1000px;
    margin: 0 auto;
    padding: 15px 0;
    background: rgba(255, 255, 255, 0.7);
}

.feature {
    float: left;
    margin: 15px 3%;
    width: 44%;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.6);
}

.feature__img {
    float: left;
    margin: 0 15px 15px 0;
    width: 48%;
}

.feature__title {
    color: darkred;
    text-transform: uppercase;
    font-family: "Oswald", Arial, Helvetica Neue, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 25px;
    padding-bottom: 8px;
}

.feature__descr {
    font-family: "Oswald", Arial, Helvetica Neue, Helvetica, sans-serif;
    font-weight: 300;
    font-size: 18px;
}

/*CONTACT*/
/*.contact {*/
/*height: 570px;*/
/*background-color: #ffffff;*/
/*margin-top: 3%;*/
/*margin-bottom: 2%;;*/
/*font-family: "Oswald", Arial, Helvetica Neue, Helvetica, sans-serif;*/
/*}*/

.contact_title {
    font-weight: 300;
    font-size: 28px;
    padding-left: 30%;
    padding-bottom: 25px;
    padding-top: 3%;
}

/*.contact_form {*/
/*padding-left: 30%;*/
/*width: 400px;*/
/*float: left;*/
/*vertical-align: top;*/
/*}*/

.contact_form input {
    margin-bottom: 25px;
    padding-left: 10px;
    width: 440px;
    height: 35px;
    background-color: white;
    border: 1px solid sandybrown;
    font-family: "Oswald", Arial, Helvetica Neue, Helvetica, sans-serif;
    font-size: 17px;
    text-transform: uppercase;
}

/*poczatek stylowania */
.contact {
    margin: 3% auto;
    max-width: 1000px;
    height: 535px;
    background: rgba(255, 255, 255, 0.7);
    font-family: "Oswald", Arial, Helvetica Neue, Helvetica, sans-serif;
    /*margin-bottom: 8px;*/
}

.contact_title {
    font-weight: 300;
    font-size: 28px;
    text-transform: uppercase;
    padding-left: 38%;
    padding-bottom: 20px;
    padding-top: 3%;
}

.contact_form {

    padding-left: 30%;
    float: left;
    /*background-color: rgba(72,72,72,0.4);*/
    padding-left: 35px;
    /*padding-top: 35px;*/
    padding-bottom: 50px;
    width: 450px;
    left: 50%;
    position: relative;
    margin-left: -260px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    padding-right: 35px;
}

/*koniec do proby */

.contact_form textarea {
    margin-right: 20px;
    padding-left: 10px;
    width: 440px;
    height: 200px;
    background-color: white;
    border: 1px solid sandybrown;
    font-family: "Oswald", Arial, Helvetica Neue, Helvetica, sans-serif;
    font-size: 17px;
    resize: none;
    text-transform: uppercase;
}

.button_send {
    font-size: 24px;
    /*padding-left: 30%;*/
    /*padding-top: 8px;*/
    position: relative;
    left: 185px;
    top: 405px;
}

/*.cta {*/
/*float: right;*/
/*padding: 20px;*/
/*opacity: 0.65;*/
/*color: #ffffff;*/
/*text-transform: uppercase;*/
/*font-family: "Oswald", Arial, Helvetica Neue, Helvetica, sans-serif;*/
/*font-weight: 700;*/
/*text-decoration: none;*/
/*position: absolute;*/
/*left: 955px;*/
/*top: 40px;*/
/*}*/

/*.cta:hover {*/
/*background-color: burlywood ;*/
/*}*/

.half {
    width: 40%;
    margin: 0 3%;
    float: left;
}

.login-register input:not([type="submit"]) {
    background-color: gainsboro;
    float: right;
}

.przyklad {
    font-size: 14px;
    font-style: italic;
}

/*FOOTER */

.stopka {
    color: white;
    text-transform: uppercase;
    font-family: "Oswald", Arial, Helvetica Neue, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 14px;
    background: url(../images/naglowek_gdansk1.jpg);
    /* padding zamiast height na sztywno ponieważ tak się wysokość dostosuje do zawartości gdyby zawartość miała się zmienić */
    padding: 10px 20px 10px 20px;
    text-align: center;
    text-shadow: black 0 2px 0;
    margin-top: 20px;
}

.partner {
    text-align: center;
    padding: 8px 20px;
}
.partner img {
    height: 26px;
}

