* {
    margin-top: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
}

.cala_strona {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}


/* NAGŁÓWEK */

#logo2 {
    opacity: 0.65;
    position: absolute;
    left: 10x;
    top: 40px;
    width: 210px;
    height: 330px;
    z-index: 100;
    box-shadow: black 4px 0px 5px;
}

.motto_gdansk {
    color: #ffffff;
    text-transform: uppercase;
    font-family: "Oswald", Arial, Helvetica Neue, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 50px;
    position: absolute;
    left: 285px;
    top: 295px;
    text-shadow: #3C2400 2px 4px 2px, #E2AB2D -2px -2px 50px;
}

.motto_miasto {
    color: #ffffff;
    text-transform: uppercase;
    font-family: "Oswald", Arial, Helvetica Neue, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 30px;
    position: absolute;
    left: 310px;
    top: 370px;
    text-shadow: #3C2400 2px 4px 2px, #E2AB2D -2px -2px 50px;
}

<!-- TODO linie na main -->
.glowna {
    border-right: 1px;
    border-left: 1px;
    border-color: black;
    width: 1200px;
    background-color: beige;
}

/* Zacheta */

.zacheta {
    text-transform: uppercase;
    text-align: left;
    font-family: "Oswald", Arial, Helvetica Neue, Helvetica, sans-serif;
    font-weight: 300;
    font-size: 20px;
    color: #000000;
    width: 900px;
    margin-top: 30px;
}

.zacheta p:first-child, .zacheta p:nth-child(2) {
    font-weight: 700;
}

/* FUNKCJONALNOŚCI */

.funkcjonalnosci {
    padding: 40px 200px 0 200px;
    height: 592px;
    background-color: #ffffff;
}

.nasz-header {
    position: relative;
}

.topdiv {
    display: inline-block;
    width: 334px;
    height: 420px;
    vertical-align: 100px;
}

.bottomdiv {
    display: inline-block;
    width: 334px;
    height: 200px;
    border: 1px solid red;
    vertical-align: 58px;

}

h2 {
    font-size: 18px;
    font-weight: bold;
    color: #000000;
}

.hline {
    height: 2px;
    width: 314px;
    margin: 45px 0 25px 0;
}

.vline {
    vertical-align: 55px;
    width: 2px;

}


/*CONTACT*/

.contact {
    height: 600px;
    background-color: #fff;
}


.contact_form {
    display: inline-block;
    width: 660px;
    float: left;
    vertical-align: top;
}

.contact_form input {
    margin-bottom: 45px;
    padding-left: 10px;
    width: 633px;
    height: 65px;
    background-color: white;
    border: 1px solid sandybrown;
    font-family: "ralewaylight";
    font-size: 33px;
}

.contact_form textarea {
    margin-right: 20px;
    padding-left: 10px;
    width: 633px;
    height: 191px;
    background-color: white;
    border: 1px solid sandybrown;
    font-family: ralewaylight;
    font-size: 33px;
    resize: none;

}

.contact_submit {
    display: inline-block;

}
#contact_submit img {
    margin-bottom: 40px;
}
#contact_submit p {
    font-family: ralewaylight;
    font-size: 18px;
    margin-bottom: 40px;
    padding-top: 8px;
}


/*.cta {*/
    /*float: right;*/
    /*padding: 20px;*/
    /*opacity: 0.65;*/
    /*color: #ffffff;*/
    /*text-transform: uppercase;*/
    /*font-family: "Oswald", Arial, Helvetica Neue, Helvetica, sans-serif;*/
    /*font-weight: 700;*/
    /*text-decoration: none;*/
    /*position: absolute;*/
    /*left: 955px;*/
    /*top: 40px;*/
/*}*/

/*.cta:hover {*/
    /*background-color: burlywood ;*/
/*}*/

.wrapper {
    max-width: 1200px;
    margin: 80px auto;
}

.half {
    width: 40%;
    margin: 0 3%;
    float: left;
}

.login-register input:not([type="submit"]) {
    background-color: gainsboro;
    float: right;
}

.przyklad {
    font-size: 14px;
    font-style: italic;
}

#nagl {
    font-size: 25px;
}


/*FOOTER */

.stopka {
    color: white;
    text-transform: uppercase;
    font-family: "Oswald", Arial, Helvetica Neue, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 14px;
    background: url(../images/naglowek_gdansk1.jpg);
    width: 1160px;
    /* padding zamiast height na sztywno ponieważ tak się wysokość dostosuje do zawartości gdyby zawartość miała się zmienić */
    padding: 7px 20px;
    text-align: center;
    text-shadow: black 0px 2px 0px;
}

.partnerzy {
    text-align: center;
    padding: 5px;
}